@font-face {
  font-family: myfont;
  src: url("font.ttf");
}
body {
  background-color: black;
  text-align: center;
  color: white;
  height: 90vh;
  margin: auto;
  width: 75%;
  background-image: url(https://telegra.ph/file/41d135184c1cd142bebcb.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: myfont;
}
#selamat {
  font-size: 70px;
  background-color: white;
  color: black;
  margin: auto;
  padding: 20px 25px;
}
#count {
  padding: 10px 20px;
  border: white 3px solid;
  border-radius: 30px;
  font-family: Monospace;
  font-size: 130%;
}
.content {
  background-color: #ffffff36;
  margin: auto;
  padding: 10px 10px;
}
footer {
  color: white;
  font-size: 50%;
}
h3 {
  font-size: 160%;
}
i {
  font-size: 70%;
  font-family: Monospace;
}