      body {
        text-align: center;
        color: red;
        background-color: black;
        font-size: 40px;
        height: 90vh;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("");
      }
      #count {
        border: red 4px solid;
        padding: 10px 20px;
        border-radius: 30px;
      }
      p {
        font-size: 30%;
      }
